body {
  background-color: #f1f1f1;
}

.nav-main {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  /* z-index 1000 ensures nav will display will be placed ahead of
  everything else */
  z-index: 1000;
  /* postion: fixed top: 0 to make it stick to the top of the page */
  position: fixed;
  top: 0;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: #f98f39;
  /* burger menu icon saved in Atom folder */
  background-image: url("img/menu.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
/* changes cursor to a hand pointing a finger */
  cursor: pointer;
}
.btn-toggle-nav:hover {
  opacity: .7;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;

}
/*  */
.nav-main ul li {
  list-style: none;
/* line height to 60 px to center it in the nav main that has a height of
60px! */
  line-height: 60px;
}

.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  /* color that looks like black but easier to read */
  color: #111;
  font-family: Arial;
  font-size: 16px;
}
.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  /* width and padding add up to 60px */
  width: 50px;
  padding: 0 5px;
  height: calc(100vh - 60px);
  background-color: #1b1b1b;
  z-index: 1000;
  /* transitions js modifications  */
  transition: all .4s ease-in-out;
}
.nav-sidebar ul {
  padding-top: 15px;
  /* overflow out of container hidden in this case mostly for
  transition when nav box shrinks back down to 60px */
  overflow: hidden;
  /* default visibility hidden so when we click on the menu
  we can change the visibility to "visible" with js */
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}


.nav-sidebar ul li a , .nav-sidebar ul li span{
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial;
  font-size: 16px;
  /* forces all the text into line regardless of container size */
  white-space: nowrap;
  /* default opacity at 0 so we can fade them in */
  opacity: 0;
  transition: all .4s ease-in-out;
}
.nav-sidebar ul li a:hover {
  background-color: #222;
}
